{% extends "base.html" %}

{% block head %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--EXTERNAL JS FILE FOR UPDATING USERS INFO-->
    <script src="static/js/profile-info.js"></script>
    <!--EXTERNAL JS FILE FOR ADVENTURE LIST-->
    <script src="static/js/adventurelist.js"></script>
    <!--JQUERY AND AJAX SCRIPT -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <!-- EXTERNAL JS FILE FOR GOOGLE ADDRESS FORM -->
    <script type="text/javascript" src="static/js/google-address-form.js"></script>
  <!-- EXTERNAL CSS FILE FOR GOOGLE ADDRESS FORM -->
    <link rel="stylesheet" type="text/css" href="static/css/postcard.css">
     <link rel="stylesheet" type="text/css" href="static/css/passport-page-layout.css">
<style>
#list{
float:left;
}

#postcards {
float:right;
}



/* Tab Navigation */
.nav-tabs {
    margin: 0;
    padding: 0;
    border: 0;
}
.nav-tabs > li > a {
    background: #DADADA;
    border-radius: 0;
    box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background: #F5F5F5;
    box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);
}

/* Tab Content */
.tab-pane {
    background: #F5F5F5;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
    border-radius: 0;
    text-align: center;
    padding: 10px;
}

</style>

{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<!-- ######################## PASSPORT PROFILE PAGE ######################## -->

<!-- ####################CONTAINER FOR USER INF########################## -->

 <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="col-md-8">
                <div class="well well-sm">

                    <div class="media">
                        <a class="thumbnail pull-left" href="#" data-toggle="modal" data-target="#myModal" class="profilepicture">
                        <img class="media-object" src="static/img/uma.jpg">
                        </a>

                        <div class="media-body">
                        <h4 id="name" class="media-heading"><span id="first-added"></span><span id="last-name"></h4>
                        <strong><small id="username-added"></small></strong><br>
                        <p id="city-added"></p>

                        <p id="state-added"></p>

                        <p id="quote-added"></p>

                        <p id="about-added"></p>
                        <div>
                        <p><span class="label label-info">10 photos</span></p><p> <span class="label label-primary">89 followers</span></p>
                            <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star"></span>Countries</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star"></span>States</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star"></span>Capitols</a>
                             <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star">Landmark</span></a>
                              <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-star">Wonders</span></a>
                        </p>
                      </div><!-- // end div for buttons-->
                    </div><!-- end media body-->
                </div><!-- // end well well-sm-->

                <div class="well well-sm">
                  <div class="media">
                    <center><a class="thumbnail center" href="#">
                        <img class="media-object" src="static/img/adventurelist.png">
                        </a></center>
                          <div class="media-body">
                            <div class="col-md-7">
                              <h4 class="media-heading">Wanderlust List</h4>
                            <ul id="adventure-list">
                            {% for place in places %}
                              <li>{{place}}</li>
                            {% endfor %}

                          </ul>
                          <form id="adventurelist" action="">
                            <input type="text" id="itemDescription" name="addventurelist" placeholder="Add description" required />
                            <input type="submit" id="submit-button" value="add" title="Minmimum 1 letters or numbers." required/>
                        </form>
                            </div><!--// end col-7-->
                          </div><!-- end // media body-->

                    </div><!-- // end media-->
                  </div><!-- // end well well sm-->
            </div><!-- // end media-body-->
        </div>
    </div><!-- /// END CONTAINER-->





<!--DASHBOARD FOR UPDATING VISITS USING GOOGLE API CUSTOM SEARCH BOX-->

          <div class="media-body">
          <div class="col-md-7">
          <center><h3>My Passport</h3></center>
          <table class="table">
          <tbody>
          <thead>
              <tr>
              <th data-field="states">Countries</th>
              <th data-field="states">States</th>
              <th data-field="capitols">Capitols</th>
              <th data-field="landmark">Landmarks</th>
              <th data-field="landmark">Wonders</th>
          <th data-field="cities">Citites</th>
              </tr>
           </thead>
          </tbody>
                  <tr>
                  <td>5</td>
                  <td>15</td>
                  <td>21</td>
                  <td>14</td>
                  </tr>
          </table>
          </div>
     </div>
  </div>
</div>




  <div class="tabbable">
<!-- Only required for left/right tabs -->
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Pick Colors</a>
    </li>
    <li><a href="#tab2" data-toggle="tab2">Add Text</a>
    </li>
    <li><a href="#tab3" data-toggle="tab3">Add Logos</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <div class="well">
            <ul class="nav">
                <li class="color-preview" title="White" style="background-color:#ffffff;"></li>
            </ul>
        </div>
    </div>
    <div class="tab-pane" id="tab2">
        <div class="well">
            <div class="input-append">
                <input class="span2" id="text-string" type="text" placeholder="add text here...">
                <button id="add-text" class="btn" title="Add text"><i class="icon-share-alt"></i>
                </button>
                <hr>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="tab3">
        <div id="avatarlist">
            <img style="cursor:pointer;" class="img-polaroid" src="static/img/img1.png">
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>



















<div id='postcard'>
  <label>address:</lable>
    <p id="street_number_added"></p>
     <p id="route-address-added"></p>
       <p id="city-added"></p>
      <p id="postal_code-added"></p>
     <p id="state-added"></p>
     <p id="country-added"></p>

    <lable>message:</label>
    <p id="message-added"></p>
</div>



<br/>
    <!-- div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>

    <form id="google-postcard-form">
    <table id="address">
      <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             onFocus="geolocate()" type="text"></input>
    </div>
      <tr>
        <td class="label">Street address</td>
        <td class="slimField"><input class="field" id="street_number"
              disabled="true"></input></td>
        <td class="wideField" colspan="2"><input class="field" id="route"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">City</td>
        <td class="wideField" colspan="3"><input class="field" id="locality"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">State</td>
        <td class="slimField"><input class="field"
              id="administrative_area_level_1" disabled="true"></input></td>
        <td class="label">Zip code</td>
        <td class="wideField"><input class="field" id="postal_code"
              disabled="true"></input></td>
      </tr>
      <tr>
        <td class="label">Country</td>
        <td class="wideField" colspan="3"><input class="field"
              id="country" disabled="true"></input></td>
      </tr>
      <tr>
       <td class="label">Message</td>
        <td class="wideField" colspan="3">
        <textarea class="class="field"" rows="3" id="message"></textarea>
         <button type="submit" class="btn btn-default" id="submit-postcard">submit</button>
      </td>


     </tr>
    </table>
  </form>



<script>
// this funcation is hwere i want data to be diplayed
function displayGooglePostcard(data){
    console.log(data);
    $('#street-number-added').html(data.street_number);
    $('#route-address-added').html(data.route);
    $('#city-added').html(data.locality);
    $('#postal-code-added').html(data.postal_code);
    $('#state-added').html(data.postal_code);
    $('#country-added').html(data.country);
    $('#message-added').html(data.message);
  }

function googlePostcardForm(evt) {
  evt.preventDefault();
  var street_number = $('#street_number').val();
  var route_address = $('#route').val();
  var city = $('#locality').val();
  var postal_code = $('#postal_code').val();
  var state = $('#administrative_area_level_1').val();
  var country = $('#country').val();
  var message = $('#message').val();
  console.log("googlePostcardForm")

  $.post('/google-postcard-ajax', {"street_number": street_number, "route": route_address, "city": city, "administrative_area_level_1": state, "country": country, "message": message
  }, (displayGooglePostcard));
}

$('#google-postcard-form').on('submit', googlePostcardForm);
</script>




<form id="postcard-upload" method="post" enctype="multipart/form-data">
    <label for="file">Select a file</label>
    <input name="file" type="file" id="image">
    <button id="submit" type="button">Upload</button>
</form>
<p>Result Filename:&nbsp;<span id="resultImageFilename-added"> here</span></p>
<p>Result Filesize:&nbsp;<span id="resultImageFilesize-added">here</span></p>
<script>
function displayPostcardImage(data){
    console.log(data);
    $('#resultImageFilename-added').html(data.street_number);
    $('#resultImageFilesize-added').html(data.route);


function uploadPostcard(evt) {
    evt.preventDefault();

    $.post('/postcard-upload-ajax',{form_data}, displayPostcardImage);
    var image = $('#image').val();
        }
      }

      $('#postcard-upload').on('submit', displayPostcardImage);

</script>




    <!--DASHBOARD CUSTOM SEARCH API KEY-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACeycrJBhijX_wyuGd8cGqo8VUIfT2Aww&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer></script>
        <!--GOOGLE ADDRESS BOX API KEY-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACeycrJBhijX_wyuGd8cGqo8VUIfT2Aww&signed_in=true&libraries=places&callback=initAutocomplete"
     async defer>







{% block javascript %}
    <script type="text/javascript">
        {% include "static/js/google-address-form.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}








{% endblock %}

{% block footer %}
{% endblock %}








