<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask Bucket List App</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">Waunderlust</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#services">Services</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


      <div class="jumbotron">
        <h1>Wanderlust List</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="/showSignUp" role="button"> + Adventure</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Adventure: title</h4>
          <p>“Not all those who wander are lost.”</p>

          <h4>Adventure: title</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Adventure: title</h4>
          <p>“Not all those who wander are lost.”</p>
        </div>

        <div class="col-lg-6">
          <h4>Adventure: title</h4>
          <p>“Not all those who wander are lost.”</p>

          <h4>Adventure: title</h4>
          <p>“Not all those who wander are lost.”</p>

          <h4>Adventure: title</h4>
          <p>“Not all those who wander are lost.”</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Wanderlust 2015</p>
      </footer>

    </div>
  </body>
</html>