{% extends 'base.html' %}
{% block content %}

    <h2>States/Caps</h2>
    <ul>
      {% for state in states_in_html %}
          <li>
              <a href="/states/{{ state.name }}">
                {{ state.name }}
              </a>
              <a href="/states/{{ state.capital}}">
                ({{ state.capital }})
              </a>
          </li>
      {% endfor %}
    </ul>
<ul>
     <h2>Landmark</h2>
      {% for landmark in landmarks_in_html %}
          <li>
              <a href="/landmarks/{{ landmark.name }}">
                {{ landmark.name }}
              </a>
          </li>
      {% endfor %}
    </ul>


{% endblock %}