<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--  External Css File  -->
    <link rel="stylesheet" type="text/css" href="/static/css/landing_page.css">
    <title>Wanderlust App</title>

    <!--CSS Animation Globe CSS-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap -->
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/templates/appbasehtml.css">
    <style>
    .navbar-brand {
    max-width: 50%;
    max-height: 60%;}

    .navbar{
    width: 10px;
    height: 50px;
}
body {
    padding-top:70px;
}

    </style>
  </head>
  <body>

<nav class="navbar navbar-default navbar-fixed-top">
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" id="logo" src="/static/img/logo.jpg" height="100" width="100">
      </a>
    </div>
  </div>
</nav>
</div>



<!--################################///////###############################-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>