<!DOCTYPE html>
<html>
    <head>
            <title>Wanderlust App</title>
            <!--CSS Animation Globe CSS-->
            <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
            <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
            <!-- Bootstrap -->
            <link rel="stylesheet" type="text/css" href="static/lib/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="static/css/login.css">

            <style type="text/css">

            </style>

            <!--  JQUERY AND JAVASCRRIPT SCRIPT CDN -->
            <script type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
            <script type="text/javascript">
            var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            </script>
            <script src="http://code.jquery.com/jquery-1.10.2.min.js">
            </script>
            <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
            </script>


        </head><!--// END HEAD-->
        <body><!--// BODY-->
  <!--#######################   NAV BAR    ##################-->

            <div id="navbar">
             <!-- Navigation -->
                <nav class="navbar navbar-default navbar-fixed-top topnav role="navigation"">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">
                                <img src="/static/img/logo.jpg">
                                        <ul class="nav navbar-nav navbar-right" style="display:inline: block, float: left">
                                            {% if "user_id" in session %}
                                            <li>
                                                <a href="/state_map">Us Map</a>
                                            </li>
                                            <li>
                                                <a href="/world_map">World Map</a>
                                            </li>
                                            <li>
                                                <a href="/passport">My Passport</a>
                                            </li>
                                            <li>
                                                <a href="/postcard">My Postcards</a>
                                            </li>
                                             <li>
                                                <a href="/timeline">Timeline</a>
                                            </li>

                                            <li>
                                                <a href="/logout">Logout</a>

                                            </li>

                                            {% else %}
                                            <li>
                                                <a href="/">Login</a>
                                            </li>

                                            {% endif %}

                                            </li>

                                        </ul>
                        </div> <!-- collapsable navbar -->
                    </div> <!-- navbar header -->
                </nav>

            </div>
<!--#######################    FLASK FLASH    ##################-->

            {% for flash in get_flashed_messages() %}
                {{ flash }}
            {% endfor %}

<!--#######################    CONTENT   ##################-->

            <div id="content">
                {% block content %}
                <!--HTML BODY CONTENT HERE-->
                {% endblock %}
            </div>

<!--#######################    FOOTER   ########################-->
            <!--FOOTER-->
            <div class="footer">
                <footer class="footer">
                    <p><a href="/contact">Waunderlust</a></p>
                    <p class="text-muted">Copyright &copy; Uma Petersen 2015. All Rights Reserved</p>
                </footer>
               <!-- END FOOTER-->
            </div><!--. // end container-->
        </body><!--// END BODY-->
    </html><!-- // END HTML-->

