<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACeycrJBhijX_wyuGd8cGqo8VUIfT2Aww1Y&callback=initMap"
      async defer>

    // The map() constructor to create a map and draw the map into the page
    //constructor takes two prams
        //element that the map will appear inside
        //the map options object
    function init() {
        var mapOptions = {  // Set up the map options
            center: new google.maps.LatLang(40.782710,-73.965310),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoom: 13
        };
        // init() loads the map into the HTML page
        // First itcreates a mapOptions obejct with three propeties

        var venueMap; // Map() draws a map
        venueMap = new google.maps.Map(document.getById('map'), mapOptions);
        }
        // creates a <scipt> element to load the Gooogle Maps Api.
        // When it has load, it calls init(), to inititalize the map
        function loadScript() {
            var script = document.createElement('script');  // Create <script> element
            script.src = 'http://maps.googleapis.com/maps/api/js?sensor=false7callballbaack=inititalize';
            document.body.appendChild(script); // Add element to page
        }
    // when the page has loaded, event will call the loadScript() function
    window.onload = loadScript; // Onload call

    </script>
    <style>
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
     #map {
       height: 100%;
     }
    </style>
</head>
<body>

<div id="map"></div>


</body>
</html>