

<div class="container-fluid" id="list">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="col-md-10">
                <div class="well well-sm">
                      <div class="media-body">
                        <h3 class="media-heading">Wanderlust List</h3>
                            <ul id="adventure-list">
                            {% for place in places %}
                              <li>{{place}}</li>
                            {% endfor %}

                          </ul>
                          <form id="newItemForm" action="/adventurelist">
                            <input type="text" id="itemDescription" name="addventurelist" placeholder="Add description" required />
                            <input type="submit" id="submit-button" value="add" title="Minmimum 1 letters or numbers." required/>
                        </form>
                    </div> <!-- close "media-body" -->
                </div> <!-- close "well well-sm" -->
            </div> <!-- close "col-md-10" -->
        </div> <!-- close "col-xs-6 col-md-4" -->
    </div> <!-- close "row" -->
</div> <!-- close class="container-fluid" id="list" -->

<script>
// sending to my server
// created functon called add adventure using ajax call to submit users new item on the list to be stored in the sever.
// function addAdventure passed in evt
//use a post method to route to sever which is form action="/adventurelist"
// in order to pass info have to pass ajax as dictionary
// pass fucntionn dta

// method prepares the request and has three prams
  // method get or post
  // route path
  // data  form is sending
function addAdventure(evt) {
  evt.preventDefault();
  var new_item = $('#itemDescription').val();

  $.post('/adventurelist', {'place':new_item}, function (data){
    console.log(data);
    $('#adventure-list').append("<li>"+ new_item +"</li>");
  });
}
// do one, and only one, of these
$('#newItemForm').on('submit', addAdventure);
// $('#submit-button').on("click", addAdventure);
</script>




// function profile(evt) {
//   evt.preventDefault();
//   var user_username = $('#username').val();

//   $.post('/passport-profile', {'username':user_username}, function (data){
//     console.log(data);
//     $('#username').html("user_username");
//   });
// }
// // do one, and only one, of these
// $('#profile').on('submit', profile);

// function profile(evt) {
//   evt.preventDefault();
//   var user_username = $('#username').val();
// $.post('/passport-profile.json', {'username':username}, function(data){
//   console.log(data);
//     $('#username').html(username);
//   });
// }


// $('#profile').on("submit", profile);


  // var user_quote = $('#quote').val();
  // var user_state = $('#state').val();
  // var user_about = $('#about').val();
  // var user_image = $('#image').val();
  // $.post('/passport-profile.json', {'username':username, 'quote':quote, 'state':state, 'about':about,'username':username}, function (data){
  //   console.log(data);
  //   $('#username').html("<h4>"+ username +"</h4>");
    // $('#quote').append("<p>"+ quote +"</p>");
    // $('#state').append("<small>"+ quote +"</small>");
    // $('#about').append("<h4>"+ state +"</h4>");
    // $('#image').append("<img>"+ image +"</img>");


//   });
// }
// do one, and only one, of these
// $('#newItemForm').on('submit', addAdventure);
// name of the form
// $('#profile').on("submit", profile);


<!-- prioity in the list
red = hot
cool = green
normal = pink
complete = gray -->



