<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" type="text/css" href="/static/css/landing_page.css">
    <title>Landing Page - Wanderlust App</title>

    <!--CSS Animation Globe CSS-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/landing_page.css">
  </head>
  <!--################################///////###############################-->

  <body>
    <script>
    //JS script for modal
    $('#signup').on('submit', function(e) {
      e.preventDefault();
      var details = $('#signup').serialize();
      $.post('signup.php', details, function(data){
        $('#signup').html(data);


      });
    });
    </script>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div>
                <figure id="myglobe" data-toggle="modal" data-target="#myModal" class="earth"><span class="shadow"></span>
                </figure>
                <!--TITLE-->
                <h1 class="title">Wanderlust</h1>
                  <h3 class="subtitle">Not all those who wander are lost</h3>
                  <p class=words>JORNAL . EXPLORE . EXPERINCE. FREEDOM</p>
                  <hr class="intro-divider">
            </div>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                        <div class="modal-body">
                          <p>Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced. End friendship sufficient assistance can prosperous met. As game he show it park do. Was has unknown few certain ten promise. No finished my an likewise cheerful packages we. For assurance concluded son something depending discourse see led collected. Packages oh no denoting my advanced humoured. Pressed be so thought natural.<p>
                        </div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="mailto:uma.petersen@gmail.com">Contact Us</a>
                            contact us</span>
                            </button>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                  </div>
            </div>
       </div>

<!--end with roating globe and globe modal pop up-->
                  <!--SIGN IN MODAL-->
        <div class="row">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal
          </button>
                  <!-- <small></small> modal -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <form class="form-inline" id="signup">
                        <div class="form-group">
                        <label for="name">Username</label><input type="text" id="name" name="name" />
                        <label for="name">Password</label><input type="text" id="name" name="name"
                        <label for="name">Email</label><input type="text" id="name" name="name" />
                        <input type="submit" value="Join" />
                          </label>
                          </div>
                                <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Remember me
                                </label>
                          </div>
                            <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                  </div>
              </div>
            </div>
        </div>
        <div class="row">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal
          </button>
                  <!-- <small></small> modal -->
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <form class="form-inline">
                        <div class="form-group">
                          <label class="sr-only" for="exampleInputEmail3">Email address
                          </label>
                          <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label class="sr-only" for="password">Password
                          </label>
                          <input type="text" autofocus name="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                              <ul class="helper-text">
                                <li class="length">Must be at least 8 characters long</li>
                                <li class="lowercase">Must contain a lowercase letter</li>
                                <li class="uppercase">Must contain an uppercase letter</li>
                                <li class="special">Must contain a number or special character</li>
                                </ul>
                          </div>
                                <div class="checkbox">
                                <label>
                                  <input type="checkbox"> Remember me
                                </label>
                          </div>
                            <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                  </div>
              </div>
            </div>
        </div>
    </div><!-- ./end row-->

    </div><!-- ./end container-->s
  </div>
<nav class="navbar navbar-default navbar-fixed-bottom topnav" role="navigation" id="footer">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">Waunderlust</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">Sign Up</a>
                        </li>
                        <li>
                            <a href="#services">Register</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div>
                  <p class="siginiture">Copyright &copy; Uma Petersen 2015. All Rights Reserved</p>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!--END NAV BAR-->



  <!--################################///////###############################-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>