<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Wanderlust App</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!--CSS Animation Globe CSS-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Calligraffitti|Waiting+for+the+Sunrise' rel='stylesheet' type='text/css'>
    <!-- External Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/landing_page.css">
    <link rel="stylesheet" type="text/css" href="/static/css/modal.css">
    <!-- LASTEST: compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- Javascript External -->
    <script src="landing_page.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>

<body>
<!--###########   LANDING PAGE CONTENT  #########-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div>
              <figure id="myglobe" data-toggle="modal" data-target="#globe" class="earth"><span class="shadow"></span></figure>
              <!--TITLE-->
                <h1 class="title">Wanderlust</h1>
                  <h3 class="subtitle">Not all those who wander are lost</h3>
                  <p class=words>JORNAL . EXPLORE . EXPERINCE. FREEDOM</p>
                  <hr class="intro-divider">
            </div>
<!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <header>
                        <h4 class="modal-title" id="myModalLabel">About Wanderlust App</h4>
                        <img src="static/img/logo.jpg" width="100" height="100">
                    </header>
                    </div>
                  <div class="modal-body">
                    <p>Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced. End friendship sufficient assistance can prosperous met. As game he show it park do. Was has unknown few certain ten promise. No finished my an likewise cheerful packages we. For assurance concluded son something depending discourse see led collected. Packages oh no denoting my advanced humoured. Pressed be so thought natural.<p>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="mailto:uma.petersen@gmail.com">Contact Us</a>
                    contact us</span></button>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div><!--END MODAL-->
    </section><!--END SECTION-->
    <section>
      <div class="row">
        <div class="col-md-12">
        <!--#########SIGN IN MODAL WINDO################-->
        <!--SIGN IN MODAL BUTTON-->

          <button style="display: inline" type="button" id="button1"class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Sign In</button>
          <!-- Large modal -->
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="singin">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <header>
                        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                        <img src="static/img/logo.jpg" width="100" height="100">
                    </header>
                  </div>
                      <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="hlp-block">Example block-level help text here.</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox">Check me out
                                </label>
                            </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
              </div>
            </div>
          </div><!--/ .end col-->
<!--#########SIGN IN MODAL WINDO################-->
          <button style="display: inline" type="button" id="button2"class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Sign Up</button>
          <!-- Large modal -->
          <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="signup">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                    <header>
                        <h4 class="modal-title" id="myModalLabel">Sign In</h4>
                        <img src="static/img/logo" height="100" width="80">
                    </header>
                  </div>
                      <form>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="hlp-block">Example block-level help text here.</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                  <input type="checkbox">Check me out
                                </label>
                            </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                      </form>
                      <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
            </div>
          </div><!--/ .end col-->

        </div><!-- / .end row-->
    </section>
    <!--END MODAL SECTION-->
  <section>
    <nav class="navbar navbar-default navbar-fixed-bottom topnav" role="navigation" id="footer">
            <div class="container topnav">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand topnav" href="#">Waunderlust</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#about">Sign Up</a>
                        </li>
                        <li>
                            <a href="#services">Register</a>
                        </li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <div>
                  <p class="siginiture">Copyright &copy; Uma Petersen 2015. All Rights Reserved</p>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <!--END NAV BAR-->
    </section>

<!--###########  END FOOTER  #########-->


</body>

</html>
