<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!--BOOTSTRAP CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <!--BOOSTRAP JAVASCRIPT-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Map Page</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <style>
  #navbar {
    display:inline block;
  }
body {
    margin: 10px;
}
  .img-circle {

  }

  </style>
  <body>
    <!--Nave BAR-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
   <a class="brand" href="#">Wanderlust</a>
            <ul class="nav">
                <li class="active"><a href="#">Map</a>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div><!--END NAV BAR-->
    <hr>
    <div class="row">
    <div class="page-header">
        <h1>Waunderlust<h1><small>hello world</small></h1>
    </div>
       <!--END HEADER-->

<br>s
<div class="wrapper">
  <div class="content-main">
    <div class="container-fluid">
        <div class="col-xs-4">
            <div class="row">
                <div class="col-sm-6 col-mds-8">
                     <img src="hb2.jpg" height="242" width="200" alt="..." class="img-thumbnail">
                     <div class="caption">
                        <h3><strong>Hobbs</strong></h3>
                        <strong><small>World Traveler</small></strong><br>
                        <p>San Francisco, California</p>
                        <p>Calvin: Everybody seeks happiness! Not me, though! That’s the difference between me and the rest of the world. Happiness isn’t good enough for me! I demand euphoria!</p>
                        <p>“We all have different desires and needs, but if we don't discover what we want from ourselves and what we stand for, we will live passively and unfulfilled. Sooner or later, we are all asked to compromise ourselves and the things we care about. We define ourselves by our actions. With each decision, we tell ourselves and the world who we are. Think about what you want out of this life, and recognize that there are many kinds of success.”
                        ― Bill Watterson</p>


                        <!--creating the button-->
                        <p><a href="#" class="btn-group" role="group" role="button">Follow</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <h3>World Traveler</h3>
            <table class="table">
                <thead>
                <tr>
                    <th data-field="states">States</th>
                    <th data-field="capitols">Capitols</th>
                    <th data-field="landmark">Landmarks</th>
                    <!--<th data-field="cities">Citites</th>-->
                  </tr>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tr>
            <td>5</td>
            <td>15</td>
            <td>21</td>
            <td>14</td>
            </tr>
            </table>
             <!---CODE FOR LIST OF 50 STATES -->
             <h3>STATES</h3>
             <p><a href="/states">view all states</a></p>
             <!--CODE FOR LIST OF 50 CAP-->
             <h3>Capitols</h3>
             <!--CODE FOR LIST OF LANDMARKS-->
             <h3>LANDMARKS</h3>

        </div>
    </div>
  </div>
  <div class="content-secondary">
    ...</div>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>