
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<figure id="myglobe" data-toggle="modal" data-target="#globe" class="earth"><span class="shadow"></span></figure></div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <header>
            <h4 class="modal-title" id="myModalLabel">About Wanderlust App</h4>
            <img src="static/img/logo" height="75" width="80">
        </header>
        </div>
      <div class="modal-body">
        <p>Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced. End friendship sufficient assistance can prosperous met. As game he show it park do. Was has unknown few certain ten promise. No finished my an likewise cheerful packages we. For assurance concluded son something depending discourse see led collected. Packages oh no denoting my advanced humoured. Pressed be so thought natural.<p>
      </div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><a href="mailto:uma.petersen@gmail.com">Contact Us</a>
        contact us</span></button>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div><!--END MODAL-->





<figure id="myglobe" data-target="#globe" class="earth"><span class="shadow"></span></figure></div>












<!--SIGN IN MODAL BUTTON-->

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="hlp-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox">Check me out
                </label>
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
  </div>
</div>


<!-- SIGN UP MODAL BUTTON -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Sign Up</button>
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="hlp-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                  <input type="checkbox">Check me out
                </label>
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
  </div>
</div>