{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/timeliner.min.js"></script>
<style>





#f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}

</style>
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}



<div id="f1_container">
<div id="f1_card" class="shadow">
  <div class="front face">
    <img src="/static/pimg/nyc1.jpg"/>
  </div>
  <div class="back face center">
    <p>This is nice for exposing more information about an image.</p>
    <p>Any content can go here.</p>
  </div>
</div>
</div>
</a>

<div id="timeline" class="timeline-container">
    <div class="timeline-wrapper">
        <h2 class="timeline-time">2015</h2>
        <dl class="timeline-series">
            <dt class="timeline-event" id="event01"><a>Hawaii





            </dt>
            <dd class="timeline-event-content" id="event01EX">
                <p>Content about the event goes here.</p>
            </dd>
            <dt class="timeline-event" id="event02"><a>Coachella</a></dt>
            <dd class="timeline-event-content" id="event02EX">
                <p>Content about the other event.</p>
            </dd>
        </dl>
        <h2 class="timeline-time">2014</h2>
        <dl class="timeline-series">
            <dt class="timeline-event" id="event01"><a>Hawaii</a></dt>
            <dd class="timeline-event-content" id="event01EX">
                <p>Content about the event goes here.</p>
            </dd>
            <dt class="timeline-event" id="event02"><a>Coachella</a></dt>
            <dd class="timeline-event-content" id="event02EX">
                <p>Content about the other event.</p>
            </dd>
        </dl>
        <h2 class="timeline-time">2013</h2>
        <dl class="timeline-series">
            <dt class="timeline-event" id="event01"><a>New York City</a></dt>
            <dd class="timeline-event-content" id="event01EX">
                <p>Content about the event goes here.</p>
            </dd>
            <dt class="timeline-event" id="event02"><a>Italy</a></dt>
            <dd class="timeline-event-content" id="event02EX">
                <p>Content about the other event.</p>
            </dd>
        </dl>
        <h2 class="timeline-time">2012</h2>
        <dl class="timeline-series">
            <dt class="timeline-event" id="event01"><a>France</a></dt>
            <dd class="timeline-event-content" id="event01EX">
                <p>Content about the event goes here.</p>
            </dd>
            <dt class="timeline-event" id="event02"><a>England</a></dt>
            <dd class="timeline-event-content" id="event02EX">
                <p>Content about the other event.</p>
            </dd>
        </dl>


    </div>
</div>



<!-- effect text in parent elent will be either hover or onlclick event to flip card  -->



https://davidwalsh.name/demo/css-flip.php


http://www.jankoatwarpspeed.com/turn-postcard-photo-into-a-stunning-comment-form-using-css/

http://callmenick.com/post/instantiation-patterns-in-javascript

http://desandro.github.io/masonry/docs/intro.html




{% endblock %}